---
services:

  mariadb:
    container_name: maria_db
    image: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: 12345
    volumes:
      - mariadb_data:/var/lib/mysql
  web:
    container_name: web-01
    image: httpd:2.4
    ports:
      - "80:80"
    depends_on: 
      - mariadb

volumes:
  mariadb_data:
